{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

    <h1>Les formations</h1>

    {% for formation in formations %}
        <ul>
            <li>{{ formation }}</li>
        </ul>
    {% endfor %}

{% endblock %}