/* utiliser root pour faire des variables de couleurs/padding ect ( boutons et tableaux ) */
/* exemple : */
/* :root{
    --couleur-principale: brown;
}
#test1{
    color:var(--couleur-principale);
} */

/* view : base.html.twig */
#body{
    padding: 0%;
    margin: 0%;
    padding-right: 5em;
    padding-left: 5em;
    min-height: 100vh;
    min-width: 100vh;
    background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
