{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Apprenants inscrits dans une session :</h1>
    {% for user in users %}
        {% if user.sessions is not empty %}
            <a href="{{ path('app_showProfile', {'id': user.id}) }}">{{ user }}</a><br>
            {% endif %}
            {% else %}
            <p>Aucune inscription enregistrée dans une session </p>
            {% endfor %}

    <h1>Apprenants non inscrits dans une session :</h1>
    {% for user in users %}
        {% if user.sessions is empty %}
            <a href="{{ path('app_showProfile', {'id': user.id}) }}">{{ user }}</a><br>
            {% endif %}
            {% else %}
                <p>Tous les apprenants sont inscrits dans une session</p>
            {% endfor %}
{% endblock %}
